<div class="container mt-4">
    <h1 class="mb-4">{{t 'common.dashboard'}}</h1>

    <div class="row">
        {{#if (hasPermission user 'show user')}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{t 'common.users'}}</h5>
                    <p class="card-text">{{t 'user.management'}}</p>
                    <a href="{{routes 'userManage'}}" class="btn btn-primary">{{t 'user.viewUsers'}}</a>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if (hasPermission user 'show role')}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{t 'common.roles'}}</h5>
                    <p class="card-text">{{t 'role.management'}}</p>
                    <a href="{{routes 'roleManage'}}" class="btn btn-primary">{{t 'role.viewRoles'}}</a>
                </div>
            </div>
        </div>
        {{/if}}
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{t 'common.quickActions'}}</h5>
                    <div class="d-flex gap-2">
                        {{#if (hasPermission user 'create user')}}
                        <a href="{{routes 'usercreate'}}" class="btn btn-success">{{t 'user.createNew'}}</a>
                        {{/if}}
                        {{#if (hasPermission user 'create role')}}
                        <a href="{{routes 'roleCreate'}}" class="btn btn-success">{{t 'role.createNew'}}</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>